.active {
    display: none;
}

.newMovieActive {
    display: none;
}

.confirmDelete {
    display: none;
}

.favorite-card {
    background-color: #ffdd88;
    padding-left: 2%;
    padding-right: 2%;
}

.profile-cards {
    margin: 4% 0 4% 0;
    background: #ffdd88
}

Button {
    margin: 2%;
}