.active {
    display: none;
}

.newMovieActive {
    display: none;
}

.confirmDelete {
    display: none;
}

.cards {
    background-color: #ffdd88;
    margin: 2%
}

.favorite-card {
    padding-left: 2%;
    padding-right: 2%
}

Button {
    margin: 2%;
}