.search-card {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.logo-title {
    color: black;
}

.rounded {
    background: #ffdd88;
}

.search-bar {
    margin-top: 4%;
    margin-bottom: 4%;
}